@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: #000;
	color: #fff;
	font-family: 'proxima-nova';
}

/* GLOBALS */
button {
	cursor: pointer;
}

input[type='text'] {
	@apply mb-5 border-b-2 
	border-zinc-500
	bg-transparent
	py-3
	w-full
	text-xl
	text-white
	focus:outline-none
	active:bg-transparent;
}

/* Progress Bar */
.svelte-progress-bar {
	z-index: 9999;
	height: 2px;
}

.svelte-progress-bar,
.svelte-progress-bar-leader {
	background-color: rgb(101, 197, 133);
	background-image: linear-gradient(90deg, #65c597, #307f6e, #6fdbf6, #c3cd40, #3e7fbb);
}
