@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: #000;
	color: #fff;
	font-family: 'Proxima Nova';
}
