@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: #000;
	color: #fff;
	font-family: 'proxima-nova';
}

.mapboxgl-marker-wrapper {
	height: 45px;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapboxgl-marker-wrapper:hover {
	cursor: pointer;
}

.mapboxgl-marker-background {
	--angle: 0deg;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 100%;
	background-image: linear-gradient(var(--angle), #60779c, #7c98bc, #3a4554);
	animation: 6s rotate cubic-bezier(0.84, 0.16, 0.39, 1.2) infinite;
	box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.5);
}

.active-destination .mapboxgl-marker-background {
	background-image: linear-gradient(
		var(--angle),
		rgb(101, 197, 133),
		#307f6e,
		rgb(102, 175, 102),
		rgb(62, 127, 187)
	);
}

.destination {
	background-image: linear-gradient(var(--angle), #5f708b, #425369, #3a4554);
}

.mapboxgl-marker-inner {
	background-image: linear-gradient(0deg, #333, #000);
	border-radius: 50%;
	height: calc(100% - 5px);
	width: calc(100% - 5px);
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapboxgl-marker-inner img {
	width: 17px;
	opacity: 0.7;
}

.mapboxgl-marker.loading img {
	width: 33px;
	animation: 1.69s rotate cubic-bezier(0.84, 0.16, 0.39, 1.2) infinite;
}

.active-destination .mapboxgl-marker-inner img {
	opacity: 1;
}

.mapboxgl-canvas {
	outline: none;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

button {
	@apply h-[44px]
	self-end
	rounded-md
	px-6
  	text-zinc-200
	hover:border-zinc-600
	hover:bg-gray-800
	hover:text-zinc-200
 bg-gray-900;
}

input[type='text'] {
	@apply mb-5 border-b-2 
	border-zinc-500
	bg-transparent
	py-3
	w-full
	text-xl
	text-white
	focus:outline-none
	active:bg-transparent;
}
